@page "/muscles/new"


@rendermode InteractiveServer

@using GainsLab.Application.DTOs
@using GainsLab.Application.Results
@using GainsLab.Contracts.Dtos.GetDto
@using GainsLab.Contracts.Dtos.PostDto.Outcome
@using GainsLab.Domain
@using GainsLab.Domain.Interfaces
@using GainsLab.Infrastructure.Caching.Registry
@using GainsLab.WebLayer.Components.Control
@using GainsLab.WebLayer.Components.Control.Muscle
@using GainsLab.WebLayer.Model.Dto.Descriptor
@using GainsLab.WebLayer.Model.Dto.Muscle
@using GainsLab.WebLayer.Model.Notification
@using GainsLab.WebLayer.Model.Notification.Confirmation
@using ILogger = Domain.Interfaces.ILogger

@implements IDisposable
@inject NavigationManager NavManager;

<p>
    @if (CreateMuscle != null)
    {
      
        <MuscleFormComponent FormName="muscleAddForm"
                             Model="CreateMuscle"
                             OnMessages="OnMessageFromForm"
                             DisplayBackButton=@true
                             BackButtonText="Close"
                             SubmitButtonText="Add"
                             Muscles=@GetMusclesRefs()
                             OnSubmit="Create"></MuscleFormComponent>
    }
    <br/>
    
    <MessageComponent Messages="@Messages"></MessageComponent>

</p>

@code {
   
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private IClock Clock { get; set; } = default!;
    [Inject] private MuscleRegistry Repo { get; set; } = default!;
    [Inject] private DescriptorRegistry DescriptorRegistry { get; set; } = default!;
    [Inject] private IToast Toast { get; set; } = default!;
    [Inject] private IConfirmDialog ConfirmDialog { get; set; } = default!;

  
    public MuscleCreateDTO? CreateMuscle { get; set; } = null;
    
    private IReadOnlyList<MuscleGetDTO> _muscles;
    
    public MessagesContainer? Messages { get; set; } = new MessagesContainer();

   
    public IReadOnlyList<MuscleRefDTO>? GetMusclesRefs()
    {
        return _muscles.Select(m => new MuscleRefDTO(m.Id, m.Name, m.LatinName)).ToList();
    }

    
    protected override async Task OnParametersSetAsync()
    {
      
        await base.OnParametersSetAsync();
        Messages ??= new MessagesContainer();

        Messages.ClearAll();
        
        var eqs = await Repo.GetAllAsync();
        if (eqs.Value == null || eqs.Value.Count == 0)
        {
            Messages.AddError("No Muscles Found");
            return;
        }

        _muscles = eqs.Value!;
        
        CreateMuscle = new();
        CreateMuscle.Descriptor =new DescriptorCreateDTO();
        CreateMuscle.BodySection = eBodySection.undefined;
        CreateMuscle.Name = "New Muscle";
    }
    
    public void Dispose()
    {
     
    }
    
    private void OnMessageFromForm(MessagesContainer obj)
    {
        Messages = obj;
    }

    private async Task Create(MuscleFormDTO form)
    {
        
     Messages ??= new MessagesContainer();
     Messages.ClearAll();

     if (form is not MuscleCreateDTO createForm)
     {
         Toast.Error("Form type mismatch");
         return;
     }

     if (createForm.Id == Guid.Empty)
     {
         createForm.Id = Guid.NewGuid();
     }

     
     
     var muscleValid = createForm.IsValid(Logger);
     if (!muscleValid.Success)
     {
         Messages.AddError("Muscle invalid");
         Messages.Append(muscleValid.Messages);
         Toast.FromMessages(Messages);
         return;
     }

     Logger.Log(nameof(AddMusclePage),  createForm.Descriptor.DescriptionContent);

     var request = createForm.ToCombineCreateRequest();
     Logger.Log(nameof(AddMusclePage),  request.Print());
        

     Result<MuscleCreateCombineOutcome> outcome = await Repo.CreateMuscleAsync(request);
     if (!outcome.Success || outcome.Value == null)
     {
         Messages.AddError("Could not create Muscle");
         Messages.Append(outcome.GetMessages());
         Toast.Error("Failed to Create Muscle");
         Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
     }

     else
     {
         Messages.Append(outcome.Value!.GetOutcomeMessages(outcome.GetMessages()));
         Toast.Success($"Muscle {outcome!.Value!.Muscle!.CreatedMuscle!.Name} successfully created!");
         Repo.Invalidate();
         DescriptorRegistry.Invalidate();
         Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
         NavManager.NavigateTo("muscles");
     }



    }
    
    
    

}