@page "/muscles"
@rendermode InteractiveServer

@using GainsLab.WebLayer.Components.Control.Muscle


<p>Muscles</p>

<br/>

<MuscleDisplayComponent></MuscleDisplayComponent>

<br/>

<br/> <a href = "/muscles/new" class="btn btn-primary">Create New</a>
<br/>

@code {
    
    
    
}