@page "/equipments/new"


@rendermode InteractiveServer

@using GainsLab.Application.DTOs
@using GainsLab.Application.Results
@using GainsLab.Contracts.Dtos.GetDto
@using GainsLab.Contracts.Dtos.PostDto.Outcome
@using GainsLab.Domain.Interfaces
@using GainsLab.Infrastructure.Caching.Registry
@using GainsLab.WebLayer.Components.Control
@using GainsLab.WebLayer.Components.Control.Equipment
@using GainsLab.WebLayer.Model.Dto.Descriptor
@using GainsLab.WebLayer.Model.Dto.Equipment
@using GainsLab.WebLayer.Model.Notification
@inject NavigationManager NavManager;


<p>
    @if (CreateEquipment != null)
    {
        <EquipmentFormComponent FormName="equipmentAddForm"
                                Model="CreateEquipment"
                                OnMessages="OnMessageFromForm"
                                DisplayBackButton="@true"
                                BackButtonText="Close"
                                SubmitButtonText="Create"
                                EquipmentNames="@EquipmentNames"
                                OnSubmit="Create">
        </EquipmentFormComponent>
    }
    <br/>

    <MessageComponent Messages="@Messages"></MessageComponent>

</p>

@code {
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private EquipmentRegistry EquipmentRegistry { get; set; } = default!;
    [Inject] private DescriptorRegistry DescriptorRegistry { get; set; } = default!;
    [Inject] private IToast Toast { get; set; } = default!;

    public EquipmentCreateDTO? CreateEquipment { get; set; } = null;
    public MessagesContainer? Messages { get; set; } = new MessagesContainer();

    private IReadOnlyList<EquipmentGetDTO> _equipments = new List<EquipmentGetDTO>();
    public IReadOnlyList<string> EquipmentNames { get; set; } = new List<string>();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Messages ??= new MessagesContainer();

        Messages.ClearAll();

        var equipments = await EquipmentRegistry.GetAllAsync();
        if (equipments.Value == null || equipments.Value.Count == 0)
        {
            Messages.AddError("No Equipments Found");
            return;
        }

        _equipments = equipments.Value!;
        EquipmentNames = _equipments.Select(e => e.Name ?? string.Empty).ToList();

        CreateEquipment = BuildInitialModel();
    }

    private EquipmentCreateDTO BuildInitialModel()
    {
        return new EquipmentCreateDTO
        {
            Descriptor = new DescriptorCreateDTO()
        };
    }

    private async Task Create(EquipmentFormDTO form)
    {
        Messages ??= new MessagesContainer();
        Messages.ClearAll();

        if (form is not EquipmentCreateDTO createForm)
        {
            Toast.Error("Form type mismatch");
            return;
        }

        var request = createForm.ToCombineCreateRequest();

        Result<EquipmentCreateCombineOutcome> outcome = await EquipmentRegistry.CreateEquipmentAsync(request);
        if (!outcome.Success || outcome.Value == null)
        {
          
            Messages.Append(outcome.GetMessages());
            Toast.Error("Failed to Create Equipment");
            Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
        }
        else
        {
            Messages.Append(outcome.Value!.GetOutcomeMessages(outcome.GetMessages()));
            Toast.Success("Equipment successfully created!");
            EquipmentRegistry.Invalidate();
            DescriptorRegistry.Invalidate();
            Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
            NavManager.NavigateTo("equipments");
        }

       
    }

    private void OnMessageFromForm(MessagesContainer obj)
    {
        Messages = obj;
        Toast.FromMessages(Messages);
    }
}
