@page "/equipments"
@rendermode InteractiveServer
@using GainsLab.WebLayer.Components.Control.Equipment

<p>Equipments</p>

<br/>

<EquipmentDisplayComponent></EquipmentDisplayComponent>

<br/>

<br/> <a href="/equipments/new" class="btn btn-primary">Create New</a>
<br/>

@code {
    
    
    
}