@page "/"
@using GainsLab.WebLayer.Components.Control



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<br/>

<EquipmentDisplayComponent></EquipmentDisplayComponent>

