@page "/movement-categories/new"


@rendermode InteractiveServer

@using GainsLab.Application.DTOs
@using GainsLab.Application.Results
@using GainsLab.Contracts.Dtos.GetDto
@using GainsLab.Contracts.Dtos.PostDto.Outcome
@using GainsLab.Domain.Interfaces
@using GainsLab.Infrastructure.Caching.Registry
@using GainsLab.WebLayer.Components.Control
@using GainsLab.WebLayer.Components.Control.MovementCategory
@using GainsLab.WebLayer.Model.Dto.Descriptor
@using GainsLab.WebLayer.Model.Dto.MovementCategory
@using GainsLab.WebLayer.Model.Notification
@inject NavigationManager NavManager;

<p>
    @if (CreateCategory != null)
    {
        <MovementCategoryFormComponent FormName="movementCategoryAddForm"
                                       Model="CreateCategory"
                                       OnMessages="OnMessageFromForm"
                                       DisplayBackButton=@true
                                       BackButtonText="Close"
                                       SubmitButtonText="Add"
                                       AllCategories="AllCategories"
                                       OnSubmit="@Create">
        </MovementCategoryFormComponent>
    }
    <br/>

    <MessageComponent Messages="@Messages"></MessageComponent>

</p>

@code {
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private MovementCategoryRegistry Repo { get; set; } = default!;
    [Inject] private DescriptorRegistry DescriptorRegistry { get; set; } = default!;
    [Inject] private IToast Toast { get; set; } = default!;

    public MovementCategoryCreateDTO? CreateCategory { get; set; } = null;
    public MessagesContainer? Messages { get; set; } = new MessagesContainer();

    public IReadOnlyList<MovementCategoryRefDTO> AllCategories { get; set; } = new List<MovementCategoryRefDTO>();


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Messages ??= new MessagesContainer();

        Messages.ClearAll();

        var categories = await Repo.GetAllAsync();
        if (categories.Value == null || categories.Value.Count == 0)
        {
            Messages.AddError("No Movement Categories Found");
            return;
        }

        AllCategories = categories.Value!.Select(c => new MovementCategoryRefDTO(c.Id, c.Name)).ToList();

        CreateCategory = BuildInitialModel();
    }

    private MovementCategoryCreateDTO BuildInitialModel()
    {
        return new MovementCategoryCreateDTO
        {
            Id = Guid.NewGuid(),
            Descriptor = new DescriptorCreateDTO()
        };
    }

    private async Task Create(MovementCategoryFormDTO form)
    {
        Messages ??= new MessagesContainer();
        Messages.ClearAll();

        if (form is not MovementCategoryCreateDTO createForm)
        {
            Toast.Error("Form type mismatch");
            return;
        }

        if (createForm.Id == Guid.Empty)
        {
            createForm.Id = Guid.NewGuid();
        }

        var movementCategoryValid = createForm.IsValid(Logger);
        if (!movementCategoryValid.Success)
        {
            Messages.AddError("Movement Category invalid");
            Messages.Append(movementCategoryValid.Messages);
            Toast.FromMessages(Messages);
            return;
        }

        var request = createForm.ToCombineCreateRequest();

        
        //todo still issue when more than one base categories posted, the parent category might also cause issues
        Result<MovementCategoryCreateCombineOutcome> outcome = await Repo.CreateMovementCategoryAsync(request);
        if (!outcome.Success || outcome.Value == null)
        {
            Messages.AddError("Could not create Movement Category");
            Messages.Append(outcome.GetMessages());
            Toast.Error("Failed to Create Movement Category");
            Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
        }

        else
        {
            Messages.Append(outcome.Value!.GetOutcomeMessages(outcome.GetMessages()));
            Toast.Success("Movement Category successfully created!");
            Repo.Invalidate();
            DescriptorRegistry.Invalidate();
            Toast.FromMessages(Messages, null, ToastLevel.Error, ToastLevel.Warning);
            NavManager.NavigateTo("movement-categories");
        }

      

    }

    private void OnMessageFromForm(MessagesContainer obj)
    {
        Messages = obj;
        Toast.FromMessages(Messages);
    }
}
