@page "/movement-categories"
@rendermode InteractiveServer

@using GainsLab.WebLayer.Components.Control.MovementCategory


<p>Movement Categories</p>

<br/>

<MovementCategoryDisplayComponent></MovementCategoryDisplayComponent>

<br/>

<br/> <a href = "/movement-categories/new" class="btn btn-primary">Create New</a>
<br/>

@code {
    
    
    
}